
html{


    font : italic small-caps bold 20px/1.5 Verdana, Arial, Helvetica, sans-serif ;
    font-variant : normal;
    font-style : normal;
    font-family : monospace;
        
}


body{
   
    width : 100%; 
    height: 100%;
    max-width : 1200px;
    max-height : 1200px;
    margin : auto; 
    padding : 1.0rem;
}

h1, h2{

font-variant : small-caps bold;


}

figcaption{

font : italic small-caps bold 20px/1.5 Verdana, Arial, Helvetica, sans-serif ;
font-variant : small-caps;
font-size: large;

padding : 1.0rem;

}
.bio{
    float: left;
    width:50%
}
q{
    font-style : italic;
    font-family : cursive;
    font-size: large;
    
    padding: 1.40rem;
}

footer p{

font-size: small;
padding : 1.0rem;

 
}

.main-section-figure img {
width : 24rem;
height : 24rem;
padding : all;
padding : 1.0rem;

border-radius: 2.0rem;

}
.main-section-figure img{
    float: center;
    width: 50%;
}

.figure{

    height: 70%;
    width: 70%;
    padding: all 1.0rem;
    margin-top: auto;
    margin-bottom: auto;

}

iframe{

    width: 95%;
    height: 100%;
    height: 35em;
    

    border: 1rem solid rgba(0, 174, 243);
    border-radius: 1.0rem;

}
/* Note for teacher: In the instructions you told use to change the border color of the video twice with two different methods. -Aiden*/
iframe{ 

    border: 1rem solid #0AF;
    border-radius: 1.0rem;


}

header, footer{

    text-align: center;
    border : 1rem solid #0015BC;
}

section{
    text-align: center;
    padding : all 1.0rem;
}

#bio{

text-align: left;

}

#quo{

    padding: all 1.0rem;

    border: 1rem solid #00F;
    border-radius: 1.0rem;

    box-shadow: 10px 10px;
    box-shadow: 10px 10px rgb(0, 20, 147);
    box-shadow: 10px 10px 5px rgb(0, 20, 147);
    box-shadow: 10px 10px 5px 12px rgb(0, 20, 147);
}


#realtive-path-image{

    border: 1rem solid rgb(255, 0, 0);
    border-radius: 1.0rem;

}

 #absolute-path-image{

    border: 1rem solid rgb(0, 174, 243);
    border-radius: 1.0rem;



 }


#realtive-path-image figcaption{

color: rgb(255, 0, 0);


}

#absolute-path-image figcaption{

    color: rgb(0, 174, 243);
    
    
    }

h1, h2{
    color: darkblue;
}

header, footer{

    background-image: linear-gradient(rgb(255, 0, 0) , rgb(220, 220, 220) , rgb(0, 174, 243) );
}

.main-section{
    background-color: hsla(41, 100%, 93.1%, 1);
}

#absolute-path-image{
background-color: hsla(192, 35%, 84.1%, 1);

}

#realtive-path-image{
    background-color: hsla(0, 100%, 89.1%, 1);
}

body{

    background-color: hsla(41, 100%, 93.1%, 1);

}

nav{
    background-color: #0015BC;
    padding: 0 1rem 2rem 0.5rem ;
    margin : 1.5rem;
    text-align: center;
}
nav ul{ 
  
    padding: 0.1rem ;
    margin: 0 0.1rem;   
  
    
}
nav ul li{
    list-style-type: none;
    border: 0.1rem solid #0015BC;
    
}

nav ul li a{
    color: #0015BC;
    font-variant: small-caps;
    font-size: 1.25rem;
    background-color: #0015BC;
    background-image: linear-gradient(rgb(255, 0, 0) , rgb(220, 220, 220) , rgb(0, 174, 243) );
    display: block;   
    font-weight: bold;
    text-decoration: none;   
}
nav ul li a:hover {
    color: white;
    background-color: #0AF;
    border: 0.1rem solid white;
}
#home-link{
    width : 49.5%;
    float : left;
}
#contact-link{
    width : 49.5%;
    float : right;
}
section ol li{
    list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: lower-roman;
}
section ul li{
    list-style-type: circle;
    list-style-type: square;
}


main{
    padding : .5rem;
    margin : .5rem;
    width : 66%;
    float : left;
}
aside{
    padding : .5rem;
    margin : .5rem;
    width : 26%;
    float : right;
}

footer{
    clear : both;
}

table, th, td{
    border : 0.1rem solid #0015BC;
    background-image: linear-gradient(rgb(255, 0, 0) , rgb(220, 220, 220) , rgb(0, 174, 243) );
    color :#0015BC
}

input, select, textarea{
    display :block;
    padding : .25rem;
    margin : 0.25rem;
    width : 50%;
}
input[type=radio]{
    width : 2.5rem;
    height : 2.5rem;
}
input[type=checkbox]{
    width : 2.5rem;
    height : 2.5rem;
}
fieldset{
    border: none;
}
label, legend{
    font-weight: 50;
    color : darkblue;
    font-variant: small-caps;
    font-size : 1.5rem;
    
}

@media (max-width: 900px){
    html{
        font-size : 15px;
    }
    #contact-link{
        float: none;
        width : 100%
    }
    #home-link{
        float : none;
        width : 100%;
    }
}


@media (max-width: 600px){
    html{
        font-size : 12px;
    }
    #contact-link{
        float: none;
        width : 100%
    }
    #home-link{
        float : none;
        width : 100%;
    }
    main{
        float : none;
        width : 100%;
    }
    aside{
        float : none;
        width : 100%;
    }
}